#header{
    height: 80px;
    border-bottom: 2px solid slategrey;
}
#displayOrder{
    width: 550px;
    height: 100px;
    gap: 10px;
}
#appointmentmenus{
    display: flex;
    gap: 50px;
    padding-left: 150px;
}
#dispMenu{
    list-style: none;
    display: flex;
    gap: 35px;
    border-radius: 5px;
    border: 2px solid rgba(112, 128, 144, 0.868);
    height: 40px;
    width: auto;
    padding-left: 20px;
    padding-top: 5px;
}

.active{
    background-color: rgba(112, 128, 144, 0.468);
    color: rgb(5, 5, 26);
    border-radius: 5px;
    height: 35px;
    padding: 2px;
    cursor: pointer;
}

.normal{
    cursor: pointer;
}

.slot{
    width: 150px;
    height: 70px;
    border: 0.5px solid slategray;
    border-radius: 4px;
    padding-left: 15px;
}

#dispsubhead{
    padding: 10px;
    gap: 25px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
}

#dispAppointments{
    width: 800px;
    height: 800px;
    padding: 30px;
    padding-left: 100px;
}

#table{
    border: 2px solid slategray;
    padding: 10px;
    width: 700px;
    gap: 5px;
    border-radius: 15px;
    background-color: rgba(112, 128, 144, 0.468);
}

#dispform{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#addAppointmentTable{
    background-color:rgb(3, 3, 27);
    color: rgb(241, 241, 245);
    width: 700px;
    height: 450px;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid slategray;
}

.drpdwn{
    width: 150px;
    height: 30px;
    color: black;
    background-color: slategray;
    border-radius: 8px;
}

#dispConsultation{
    list-style: none;
    display: flex;
    gap: 5px;
    height: auto;
    width: auto;
}

.btn{
    width: 100px;
    height: 50px;
    color: black;
    background-color: slategray;
    border-radius: 8px;
    cursor: pointer;
}
.txtarea{
    width: 500px;
    height: 30px;
    color: black;
    background-color: slategray;
    border-radius: 8px;
}